.app-btn {
  font-weight: 300;
  color: $primary-grey;
  transition: all 0.1s ease-out;
  text-decoration: none;
  padding: .375rem 1.75rem;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.app-submit-btn {
  border: 1px solid black;
  background: none;
}