.header, .footer {
  display: flex;
  height: 7rem;
  justify-content: center;
  background-color: #000;
  position: relative;
  z-index: 1000;
}

.logo {
  img {
    width: 6rem;
  }
}

.navigation-list {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  height: 100%;
}

.navigation-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #fff;
  &:last-of-type {
    padding-right: 0;
  }
}

.nav-dropdown-menu {
  position: relative;
  &:hover {
    .nav-sub-list {
      display: block;
      animation-name: fadeId;
      animation-duration: 0.3s;
    }
  }

  & > .link-default {
    cursor: default;
  }
}

.nav-sub-list {
  display: none;
  position: absolute;
  text-align: center;
  background: $light-black;
  border-radius: 5px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
  left: -100%;
  padding: 0 1.5rem;
  transition: all 0.6s;
  width: 300%;
  top: 75px;
}

.nav-sub-list li {
  a {
    color: #fff;
  }
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  &:last-of-type {
    border-bottom: none;
  }
}

@keyframes fadeId {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
