@keyframes app-spinner-border {
  to { transform: rotate(360deg); }
}

.app-spinner-border {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: text-bottom;
  border: 0.25rem solid currentColor;
  border-right-color: transparent;
  // stylelint-disable-next-line property-blacklist
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.app-spinner-border-md {
  width: 1.3rem;
  height: 1.3rem;
  border-width: 0.13rem;
}

.app-spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.11rem;
}
