.text-overlay {
  // width: 100vw;
  // max-width: 1920px;
  position: relative;
  margin-top: -1.5rem;
  .app-carousel-photos {
    width: 100vw;
   position: relative;
   left: calc(50% - 7px);
   margin-left: -50vw;
  }
  img {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100vw;
    filter: grayscale(1);
  }
  h1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }

}

.bg-image {
  background-image: url('/assets/images/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 14rem);
  width: 100%;
}